service-stubs/dss-api-stub/org.wso2.carbon.dssapi.stub/src/main/resources/APIPublisher.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://admin.core.dataservices.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://core.dssapi.carbon.wso2.org" xmlns:ax2104="http://mgt.service.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://core.dssapi.carbon.wso2.org">
    <wsdl:documentation>APIPublisher</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2105="http://mgt.service.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.core.dataservices.carbon.wso2.org">
            <xs:import namespace="http://mgt.service.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="APIPublisherException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="APIPublisherException" nillable="true" type="ns:Exception"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="listDssServices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listDssServicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2105:ServiceMetaDataWrapper"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.service.carbon.wso2.org/xsd">
            <xs:complexType name="ServiceMetaDataWrapper">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numberOfActiveServices" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="numberOfCorrectServiceGroups" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="numberOfFaultyServiceGroups" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceTypes" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="services" nillable="true" type="ax2104:ServiceMetaData"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceMetaData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="disableDeletion" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="disableTryit" type="xs:boolean"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="eprs" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="foundWebResources" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="mtomStatus" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="operations" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="scope" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="securityScenarioId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceDeployedTime" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceUpTime" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceVersion" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tryitURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsdlPortTypes" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsdlPorts" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsdlURLs" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="listDssServicesRequest">
        <wsdl:part name="parameters" element="ns:listDssServices"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listDssServicesResponse">
        <wsdl:part name="parameters" element="ns:listDssServicesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="APIPublisherException">
        <wsdl:part name="parameters" element="ns:APIPublisherException"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="APIPublisherPortType">
        <wsdl:operation name="listDssServices">
            <wsdl:input message="tns:listDssServicesRequest" wsaw:Action="urn:listDssServices"></wsdl:input>
            <wsdl:output message="tns:listDssServicesResponse" wsaw:Action="urn:listDssServicesResponse"></wsdl:output>
            <wsdl:fault message="tns:APIPublisherException" name="APIPublisherException" wsaw:Action="urn:listDssServicesAPIPublisherException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="APIPublisherSoap11Binding" type="tns:APIPublisherPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="listDssServices">
            <soap:operation soapAction="urn:listDssServices" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="APIPublisherException">
                <soap:fault use="literal" name="APIPublisherException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="APIPublisherSoap12Binding" type="tns:APIPublisherPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="listDssServices">
            <soap12:operation soapAction="urn:listDssServices" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="APIPublisherException">
                <soap12:fault use="literal" name="APIPublisherException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="APIPublisherHttpBinding" type="tns:APIPublisherPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="listDssServices">
            <http:operation location="listDssServices"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="APIPublisher">
        <wsdl:port name="APIPublisherHttpsSoap11Endpoint" binding="tns:APIPublisherSoap11Binding">
            <soap:address location="https://192.168.122.1:9443/services/APIPublisher.APIPublisherHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="APIPublisherHttpsSoap12Endpoint" binding="tns:APIPublisherSoap12Binding">
            <soap12:address location="https://192.168.122.1:9443/services/APIPublisher.APIPublisherHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="APIPublisherHttpsEndpoint" binding="tns:APIPublisherHttpBinding">
            <http:address location="https://192.168.122.1:9443/services/APIPublisher.APIPublisherHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>